<section>

<img src="https://img.freepik.com/free-photo/cup-coffee-with-pile-coffee-beans_1112-438.jpg?w=2000" class="img-fluid" alt="">

  <div class="text">
  <p>Welcome to</p><p> the official website</p><p> of nirvana coffee</p>
  <button class="btn">Check our Menu</button>
</div>
<section>
  <table class="table table-dark table-hover">
<tr>
  <td><img alt="" src="https://img.freepik.com/free-photo/cup-coffee-with-pile-coffee-beans_1112-438.jpg?w=2000"></td>
</tr>
<tr>
  <td><img alt="" src="https://img.freepik.com/free-photo/cup-coffee-with-pile-coffee-beans_1112-438.jpg?w=2000"></td>
</tr>
<tr>
  <td><img alt="" src="https://img.freepik.com/free-photo/cup-coffee-with-pile-coffee-beans_1112-438.jpg?w=2000"></td>
</tr>
</table>
</section>

</section>
<div class="card" style="padding: 15px;" *ngIf="false">

  <form>
    <div class="row">
      <div class="form-floating mb-1 col-md-2">
        <input type="text" class="form-control" id="name" placeholder=" ">
        <label for="name">Product Name</label>
      </div>
    </div>
    <div class="row">
      <div class="form-floating mb-1 col-md-4">
        <input type="text" class="form-control" id="shortDesc" placeholder=" ">
        <label for="shortDesc">Short Description</label>
      </div>
    </div>
    <div class="row">
      <div class="form-floating mb-1 col-md-4">
        <textarea class="form-control" placeholder="Long Description" id="longDesc"></textarea>
        <label for="longDesc">Long Description</label>
      </div>
    </div>

    <div class="row">
      <div class="form-floating mb-1 col-md-2">
        <input type="text" class="form-control" id="price" placeholder=" ">
        <label for="price">Price</label>
      </div>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Save Product</button>
    </div>
  </form>
</div>